@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans:
    "Inter", "Geist", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

body {
  letter-spacing: var(--tracking-normal);
}

:root {
  --background: oklch(0.997 0 0);
  --foreground: oklch(0.1408 0.0044 285.8229);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1408 0.0044 285.8229);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1408 0.0044 285.8229);
  --primary: oklch(0.6062 0.2298 9.6281);
  --primary-foreground: oklch(0.9824 0.0013 286.3757);
  --secondary: oklch(0.9276 0.0058 264.5313);
  --secondary-foreground: oklch(0.2781 0.0296 256.848);
  --muted: oklch(0.9683 0.0069 247.8956);
  --muted-foreground: oklch(0.551 0.0234 264.3637);
  --accent: oklch(0.9683 0.0069 247.8956);
  --accent-foreground: oklch(0.2781 0.0296 256.848);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.9824 0.0013 286.3757);
  --border: oklch(0.9197 0.004 286.3202);
  --input: oklch(0.9197 0.004 286.3202);
  --ring: oklch(0.7107 0.0351 256.7878);
  --chart-1: oklch(0.4955 0.2369 301.9241);
  --chart-2: oklch(0.5916 0.218 0.5844);
  --chart-3: oklch(0.8369 0.1644 84.4286);
  --chart-4: oklch(0.6959 0.1491 162.4796);
  --chart-5: oklch(0.6231 0.188 259.8145);
  --sidebar: oklch(0.967 0.0029 264.5419);
  --sidebar-foreground: oklch(0.2781 0.0296 256.848);
  --sidebar-primary: oklch(0.6062 0.2298 9.6281);
  --sidebar-primary-foreground: oklch(0.9824 0.0013 286.3757);
  --sidebar-accent: oklch(0.9276 0.0058 264.5313);
  --sidebar-accent-foreground: oklch(0.2781 0.0296 256.848);
  --sidebar-border: oklch(0.8717 0.0093 258.3382);
  --sidebar-ring: oklch(0.7107 0.0351 256.7878);
  --font-sans: ui-sans-serif, system-ui, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono,
    Courier New, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0px 4px 10px 0px hsl(0 0 0 / 0.05);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0 0 / 0.05);
  --shadow-sm:
    0px 4px 10px 0px hsl(0 0 0 / 0.1), 0px 1px 2px -1px hsl(0 0 0 / 0.1);
  --shadow:
    0px 4px 10px 0px hsl(0 0 0 / 0.1), 0px 1px 2px -1px hsl(0 0 0 / 0.1);
  --shadow-md:
    0px 4px 10px 0px hsl(0 0 0 / 0.1), 0px 2px 4px -1px hsl(0 0 0 / 0.1);
  --shadow-lg:
    0px 4px 10px 0px hsl(0 0 0 / 0.1), 0px 4px 6px -1px hsl(0 0 0 / 0.1);
  --shadow-xl:
    0px 4px 10px 0px hsl(0 0 0 / 0.1), 0px 8px 10px -1px hsl(0 0 0 / 0.1);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0 0 / 0.25);
  --tracking-normal: normal;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1591 0 0);
  --foreground: oklch(0.997 0 0);
  --card: oklch(0.2402 0.0905 355.5199);
  --card-foreground: oklch(0.997 0 0);
  --popover: oklch(0.2402 0.0905 355.5199);
  --popover-foreground: oklch(0.997 0 0);
  --primary: oklch(0.6062 0.2298 9.6281);
  --primary-foreground: oklch(0.997 0 0);
  --secondary: oklch(0.2762 0.0976 357.6431);
  --secondary-foreground: oklch(0.997 0 0);
  --muted: oklch(0.2062 0.0574 352.2426);
  --muted-foreground: oklch(0.7668 0 0);
  --accent: oklch(0.237 0.0698 353.5741);
  --accent-foreground: oklch(0.997 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.9824 0.0013 286.3757);
  --border: oklch(0.3233 0.1173 357.4105);
  --input: oklch(0.3233 0.1173 357.4105);
  --ring: oklch(0.7107 0.0351 256.7878);
  --chart-1: oklch(0.4955 0.2369 301.9241);
  --chart-2: oklch(0.5916 0.218 0.5844);
  --chart-3: oklch(0.8369 0.1644 84.4286);
  --chart-4: oklch(0.6959 0.1491 162.4796);
  --chart-5: oklch(0.6231 0.188 259.8145);
  --sidebar: oklch(0.1591 0 0);
  --sidebar-foreground: oklch(0.997 0 0);
  --sidebar-primary: oklch(0.6062 0.2298 9.6281);
  --sidebar-primary-foreground: oklch(0.997 0 0);
  --sidebar-accent: oklch(0.237 0.0698 353.5741);
  --sidebar-accent-foreground: oklch(0.997 0 0);
  --sidebar-border: oklch(0.3233 0.1173 357.4105);
  --sidebar-ring: oklch(0.7107 0.0351 256.7878);
  --font-sans: "Montserrat", sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono,
    Courier New, monospace;
  --radius: 0.25rem;
  --shadow-x: 0px;
  --shadow-y: 10px;
  --shadow-blur: 20px;
  --shadow-spread: -5px;
  --shadow-opacity: 0.3;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0px 10px 20px -5px hsl(0 0 0 / 0.15);
  --shadow-xs: 0px 10px 20px -5px hsl(0 0 0 / 0.15);
  --shadow-sm:
    0px 10px 20px -5px hsl(0 0 0 / 0.3), 0px 1px 2px -6px hsl(0 0 0 / 0.3);
  --shadow:
    0px 10px 20px -5px hsl(0 0 0 / 0.3), 0px 1px 2px -6px hsl(0 0 0 / 0.3);
  --shadow-md:
    0px 10px 20px -5px hsl(0 0 0 / 0.3), 0px 2px 4px -6px hsl(0 0 0 / 0.3);
  --shadow-lg:
    0px 10px 20px -5px hsl(0 0 0 / 0.3), 0px 4px 6px -6px hsl(0 0 0 / 0.3);
  --shadow-xl:
    0px 10px 20px -5px hsl(0 0 0 / 0.3), 0px 8px 10px -6px hsl(0 0 0 / 0.3);
  --shadow-2xl: 0px 10px 20px -5px hsl(0 0 0 / 0.75);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
